In [1]:
# import dependencies

import pandas as pd

In [2]:
#read in excel doc

defense_df = pd.ExcelFile("player_defensive_actions.xlsx")

In [3]:
defense_df.sheet_names

['Sheet1']

In [4]:
# convert to datafram

def_actions_df = pd.read_excel(defense_df, sheet_name="Sheet1")

In [5]:
def_actions_df.head()

,Match ID,Player,#,Nation,Pos,Age,90s,Tkl,TklW,Def 3rd,...,Att,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err
0,1,Klauss,9,br BRA,FW,25-361,87,0,0,0,...,0,0.0,0,0,0,0,0,0,1,0
1,1,Joshua Yaro,15,gh GHA,FW,28-099,3,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2,1,Jared Stroud,8,us USA,LW,26-230,80,4,2,4,...,10,40.0,6,1,0,1,2,6,1,0
3,1,Celio Pompeu,12,br BRA,LW,23-077,10,0,0,0,...,0,0.0,0,1,0,1,0,0,1,0
4,1,Rasmus Alm,21,se SWE,RW,27-192,58,1,1,0,...,2,50.0,1,1,0,1,0,1,1,0

In [6]:
def_actions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Match ID  536 non-null    int64
 1   Player    536 non-null    object
 2   #         536 non-null    int64
 3   Nation    536 non-null    object
 4   Pos       536 non-null    object
 5   Age       536 non-null    object
 6   90s       536 non-null    int64
 7   Tkl       536 non-null    int64
 8   TklW      536 non-null    int64
 9   Def 3rd   536 non-null    int64
 10  Mid 3rd   536 non-null    int64
 11  Att 3rd   536 non-null    int64
 12  Cha       536 non-null    int64
 13  Att       536 non-null    int64
 14  Tkl%      536 non-null    float64
 15  Lost      536 non-null    int64
 16  Blocks    536 non-null    int64
 17  Sh        536 non-null    int64
 18  Pass      536 non-null    int64
 19  Int       536 non-null    int64
 20  Tkl+Int   536 non-null    int64
 21  Clr       536 non-null    int64
 22  Err       536 non-null    int64
dtypes: float64(1), int64(18), object(4)
memory usage: 96.4+ KB

In [7]:
# grabbing player #s

players = def_actions_df["#"].unique()

In [8]:
players

array([ 9, 15,  8, 12, 21, 11,  7, 28, 10, 19,  6, 14, 22, 26,  2,  1, 16,
       20, 24, 25, 30, 17, 46, 41, 23, 29,  4, 13, 39], dtype=int64)

In [9]:
# grabbing player names

names = def_actions_df["Player"].unique()

In [10]:
names

array(['Klauss', 'Joshua Yaro', 'Jared Stroud', 'Celio Pompeu',
       'Rasmus Alm', 'Nicholas Gioacchini', 'Tomas Ostrak',
       'Miguel Perez', 'Eduard Lowen', 'Indiana Vassilev', 'Njabulo Blom',
       'John Nelson', 'Kyle Hiebert', 'Tim Parker', 'Jake Nerwinski',
       'Roman Burki', 'Samuel Adeniran', 'Akil Watts', 'Lucas Bartlett',
       'Aziel Jackson', 'Isak Jensen', 'Selmir Pidro', 'Caden Glover',
       'John Klein', 'Jon Bell', 'Nokkvi Thorisson', 'Joakim Nilsson',
       'Anthony Markanich', 'Benjamin Lundt'], dtype=object)

In [12]:
klauss = []
yaro = []
stroud = []
pompeu = []
alm = []
gio = []
ostrak = []
perez = []
lowen = []
indy = []
blom = []
nelson = []
kyle = []
parker = []
jake = []
burki = []
sam = []
watts = []
lucas = []
az = []
jensen = []
pidro = []
glover = []
klien = []
bell = []
thor = []
nilsson = []
mark = []
lundt = []

In [16]:
#proof of concept

for i in range(0, len(def_actions_df)):
    if (def_actions_df.iloc[i]["#"] == 9):
        klauss.append(def_actions_df.iloc[i])

In [17]:
klauss

[Match ID         1
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         25-361
 90s             87
 Tkl              0
 TklW             0
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              0
 Tkl%           0.0
 Lost             0
 Blocks           0
 Sh               0
 Pass             0
 Int              0
 Tkl+Int          0
 Clr              1
 Err              0
 Name: 0, dtype: object,
 Match ID         2
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-003
 90s             87
 Tkl              0
 TklW             0
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              2
 Tkl%           0.0
 Lost             2
 Blocks           2
 Sh               0
 Pass             2
 Int              0
 Tkl+Int          0
 Clr              1
 Err              0
 Name: 16, dtype: object,
 Match ID         3
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-010
 90s             90
 Tkl              2
 TklW             0
 Def 3rd          1
 Mid 3rd          1
 Att 3rd          0
 Cha              2
 Att              3
 Tkl%          66.7
 Lost             1
 Blocks           1
 Sh               0
 Pass             1
 Int              0
 Tkl+Int          2
 Clr              0
 Err              0
 Name: 31, dtype: object,
 Match ID         4
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-017
 90s             64
 Tkl              1
 TklW             1
 Def 3rd          0
 Mid 3rd          1
 Att 3rd          0
 Cha              0
 Att              1
 Tkl%           0.0
 Lost             1
 Blocks           1
 Sh               0
 Pass             1
 Int              2
 Tkl+Int          3
 Clr              0
 Err              0
 Name: 49, dtype: object,
 Match ID         5
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-024
 90s             90
 Tkl              1
 TklW             1
 Def 3rd          0
 Mid 3rd          1
 Att 3rd          0
 Cha              0
 Att              3
 Tkl%           0.0
 Lost             3
 Blocks           0
 Sh               0
 Pass             0
 Int              1
 Tkl+Int          2
 Clr              4
 Err              0
 Name: 63, dtype: object,
 Match ID         6
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-031
 90s             90
 Tkl              1
 TklW             1
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          1
 Cha              1
 Att              1
 Tkl%         100.0
 Lost             0
 Blocks           1
 Sh               0
 Pass             1
 Int              0
 Tkl+Int          1
 Clr              2
 Err              0
 Name: 81, dtype: object,
 Match ID         7
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-038
 90s             90
 Tkl              1
 TklW             0
 Def 3rd          0
 Mid 3rd          1
 Att 3rd          0
 Cha              0
 Att              2
 Tkl%           0.0
 Lost             2
 Blocks           0
 Sh               0
 Pass             0
 Int              0
 Tkl+Int          1
 Clr              2
 Err              0
 Name: 95, dtype: object,
 Match ID         8
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-045
 90s             90
 Tkl              1
 TklW             1
 Def 3rd          1
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              0
 Tkl%           0.0
 Lost             0
 Blocks           0
 Sh               0
 Pass             0
 Int              1
 Tkl+Int          2
 Clr              2
 Err              0
 Name: 113, dtype: object,
 Match ID         9
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-052
 90s             60
 Tkl              0
 TklW             0
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              1
 Tkl%           0.0
 Lost             1
 Blocks           0
 Sh               0
 Pass             0
 Int              0
 Tkl+Int          0
 Clr              0
 Err              0
 Name: 128, dtype: object,
 Match ID        25
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-178
 90s             13
 Tkl              0
 TklW             0
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              0
 Tkl%           0.0
 Lost             0
 Blocks           0
 Sh               0
 Pass             0
 Int              0
 Tkl+Int          0
 Clr              0
 Err              0
 Name: 377, dtype: object,
 Match ID        26
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-182
 90s             20
 Tkl              0
 TklW             0
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              0
 Tkl%           0.0
 Lost             0
 Blocks           0
 Sh               0
 Pass             0
 Int              1
 Tkl+Int          1
 Clr              0
 Err              0
 Name: 406, dtype: object,
 Match ID        27
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             DM
 Age         26-185
 90s             45
 Tkl              0
 TklW             0
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              0
 Tkl%           0.0
 Lost             0
 Blocks           0
 Sh               0
 Pass             0
 Int              0
 Tkl+Int          0
 Clr              0
 Err              0
 Name: 415, dtype: object,
 Match ID        28
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-193
 90s             70
 Tkl              1
 TklW             1
 Def 3rd          0
 Mid 3rd          1
 Att 3rd          0
 Cha              0
 Att              1
 Tkl%           0.0
 Lost             1
 Blocks           1
 Sh               0
 Pass             1
 Int              1
 Tkl+Int          2
 Clr              1
 Err              0
 Name: 425, dtype: object,
 Match ID        29
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-199
 90s             90
 Tkl              1
 TklW             1
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          1
 Cha              0
 Att              2
 Tkl%           0.0
 Lost             2
 Blocks           0
 Sh               0
 Pass             0
 Int              1
 Tkl+Int          2
 Clr              0
 Err              0
 Name: 440, dtype: object,
 Match ID        30
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-203
 90s             90
 Tkl              1
 TklW             1
 Def 3rd          1
 Mid 3rd          0
 Att 3rd          0
 Cha              1
 Att              2
 Tkl%          50.0
 Lost             1
 Blocks           0
 Sh               0
 Pass             0
 Int              0
 Tkl+Int          1
 Clr              1
 Err              0
 Name: 458, dtype: object,
 Match ID        31
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-206
 90s             33
 Tkl              0
 TklW             0
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              0
 Tkl%           0.0
 Lost             0
 Blocks           0
 Sh               0
 Pass             0
 Int              0
 Tkl+Int          0
 Clr              4
 Err              0
 Name: 476, dtype: object,
 Match ID        32
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-213
 90s             88
 Tkl              2
 TklW             0
 Def 3rd          0
 Mid 3rd          1
 Att 3rd          1
 Cha              0
 Att              1
 Tkl%           0.0
 Lost             1
 Blocks           1
 Sh               1
 Pass             0
 Int              0
 Tkl+Int          2
 Clr              2
 Err              0
 Name: 489, dtype: object,
 Match ID        33
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-217
 90s             28
 Tkl              0
 TklW             0
 Def 3rd          0
 Mid 3rd          0
 Att 3rd          0
 Cha              0
 Att              0
 Tkl%           0.0
 Lost             0
 Blocks           0
 Sh               0
 Pass             0
 Int              0
 Tkl+Int          0
 Clr              0
 Err              0
 Name: 505, dtype: object,
 Match ID        34
 Player      Klauss
 #                9
 Nation      br BRA
 Pos             FW
 Age         26-234
 90s             90
 Tkl              3
 TklW             0
 Def 3rd          0
 Mid 3rd          2
 Att 3rd          1
 Cha              0
 Att              1
 Tkl%           0.0
 Lost             1
 Blocks           2
 Sh               1
 Pass             1
 Int              0
 Tkl+Int          3
 Clr              0
 Err              0
 Name: 522, dtype: object]

In [18]:
klauss_df = pd.DataFrame(klauss)

In [19]:
klauss_df.head()

,Match ID,Player,#,Nation,Pos,Age,90s,Tkl,TklW,Def 3rd,...,Att,Tkl%,Lost,Blocks,Sh,Pass,Int,Tkl+Int,Clr,Err
0,1,Klauss,9,br BRA,FW,25-361,87,0,0,0,...,0,0.0,0,0,0,0,0,0,1,0
16,2,Klauss,9,br BRA,FW,26-003,87,0,0,0,...,2,0.0,2,2,0,2,0,0,1,0
31,3,Klauss,9,br BRA,FW,26-010,90,2,0,1,...,3,66.7,1,1,0,1,0,2,0,0
49,4,Klauss,9,br BRA,FW,26-017,64,1,1,0,...,1,0.0,1,1,0,1,2,3,0,0
63,5,Klauss,9,br BRA,FW,26-024,90,1,1,0,...,3,0.0,3,0,0,0,1,2,4,0

In [20]:
klauss_file = "klauss_defensive_actions.xlsx"
klauss_df.to_excel(klauss_file)